  <div class="topnav">
    
    <div class="topnav-left">
        <a routerLink="/home" title="Student Architect">Home
          <!-- <img height="55" src="assets/images/logo.jpeg" alt="Student Architect"> -->
        </a>
      <a routerLink="/class">Classes</a>
      <a routerLink="/pricing">Pricing</a>
      <a routerLink="/why_sa">Why SA?</a>
    </div>
    <div class="topnav-right">
      <a href="#search">Search</a>
      <a href="#about">About</a>
    </div>

  </div>

  <router-outlet></router-outlet>