
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #607d8b;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }
 
  /* Add a black background color to the top navigation */
.topnav {
  /* Keeping for future use */
  /* background-color: #333; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

img {
 float: left;
}
/* Change the color of links on hover */
.topnav a:hover {
background-color: #eee;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #4CAF50;
color: white;
}

/* Left-aligned section inside the top navigation with left margin */
.topnav-left {
  margin-left: 20%;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}
