<div>

  <!-- <nav class="topnav-right">
    <a routerLink="/classes">Classes</a>
    <a routerLink="/pricing">Pricing</a>
    <a routerLink="/why_sa">Why SA?</a>
  </nav> -->

  
  <div class="topnav">
      <img height="56" src='assets/images/logo.jpeg' >
    <div class="topnav-left">
      <a routerLink="/classes">Classes</a>
      <a routerLink="/pricing">Pricing</a>
      <a routerLink="/why_sa">Why SA?</a>
    </div>
    <div class="topnav-right">
      <a href="#search">Search</a>
      <a href="#about">About</a>
    </div>
  </div>
</div>