.box {
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    margin-top: 50px;
    width: 80%;
  }

  .one {
    flex: 1 1 auto;
    margin: 10px;
    /* background: whitesmoke; */
    border-radius: 10px;
  }

  .two {
    flex: 1 1 auto;
    margin: 10px;
    background-color: aquamarine;
    border-radius: 10px;
  }

  .three {
    flex: 1 1 auto;
    margin: 10px;
    background-color: rgb(76, 236, 76);
    border-radius: 10px;
  }

  .pricing-detail{
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
    color: white;
    margin-left: 0px;
  }

  .course-type-heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 55px;
    font-size: 12px;
    background-color: darkred;
  }

  .total-price-detail{
    background-color:rgb(165, 32, 32);
    padding: 15px 25px 15px 15px;
  }

  .total-price{
    display: flex;
    align-items: flex-start;
  }

  .total-months{
    opacity: .7;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
  }

  .course-timeline{
    position: relative;
    padding: 8px 24px 8px 10px;
    border-radius: 8px;
    background-color: white;
    margin-top: auto;
    cursor: pointer;
  }

  .course-timeline-one{
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: -.45px;
    color: #5d5d5d;
    align-items: flex-start;
  }

  .course-timeline-two{
    margin-top: 3px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    color: #695b5b;
    opacity: .7;
  }

  .ltd{
    padding-bottom: 15px;
    background-color: floralwhite;
  }